.footer {
    background-color: #004d40; /* Dark green */
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative; /* Footer adjusts with content */
    width: 100%;
    height: 8vh; /* Footer height relative to viewport height */
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    box-sizing: border-box; /* Ensure padding does not affect width */
}
